body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  width: 750px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #ccc;
  line-height: 1.5em;
  background: black;
  text-align: center;
}

h1, h2, h3 {
  color: white;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

br {
  height: 0;
  padding: 0;
  margin: 0;
}

.block, .block-empty {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
}

.site-container {
  display: flex;
  flex-direction: row;
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.playfield {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid #222;
  margin: 0 30px;
}

.playfield-row {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.held-field {
  display: inline-flex;
  flex-direction: column;
  min-width: 100px;
  align-items: center;
}

.next-queue {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  align-items: center;
}

.queue-piece {
  margin-bottom: 30px;
}

.config-container {
  margin-left: 60px;
  margin-top: 200px;
}
